<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,120}</string>
                <key>spriteSourceSize</key>
                <string>{274,120}</string>
                <key>textureRect</key>
                <string>{{84,0},{274,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{358,0},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{443,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,121}</string>
                <key>spriteSourceSize</key>
                <string>{271,121}</string>
                <key>textureRect</key>
                <string>{{525,0},{271,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{796,0},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,120}</string>
                <key>spriteSourceSize</key>
                <string>{189,120}</string>
                <key>textureRect</key>
                <string>{{882,0},{189,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{162,84}</string>
                <key>textureRect</key>
                <string>{{1071,0},{162,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{1233,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d75b40efaccd2e6982b5b2c6b76c645:3160bf8c2c6b8fd66579a48088f444af:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
