<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingmah_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,228},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,342},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,342},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,342},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,342},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,456},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,456},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,456},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,456},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,570},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,570},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,570},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,570},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,684},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,684},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,684},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,684},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,798},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,798},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,798},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,114},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,798},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,912},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,912},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,912},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,912},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,1026},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,1026},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,1026},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,1026},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,1140},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,114},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,1140},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,1140},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,114},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{360,114},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{0,228},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{120,228},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingmah_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{240,228},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mj_left.png</string>
            <key>size</key>
            <string>{480,1254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bbb3a0137b6c680f1aa395db8d4298a:5c2f97c34ae1702e6bc685ff503fa8d8:644cdea1c9e21c36509ea31f6607310c$</string>
            <key>textureFileName</key>
            <string>mj_left.png</string>
        </dict>
    </dict>
</plist>
